<table id="{{ name }}" class="{{ tableClass }}">
    <thead>
        <tr>
            {% for label in columnLabels %}
                <th>{{ label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>